rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}{
      allow read: if request.auth.uid != null;
      allow create;
      allow update: if request.auth.uid == userId;
      allow delete: if request.auth.uid == userId;

      match /directory/{directoryId}{
        allow read, update, delete: if request.auth.uid == userId;
        allow create: if request.auth.uid != null;

        match /urls/{urlId}{
          allow read, update, delete: if request.auth.uid == userId;
          allow create: if request.auth.uid != null;
        }
      }
    }
  }
}
